<!doctype html>
<html>
<head>
    <title>Authentication System</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/5.4.2/css/font-awesome.min.css">
    <style>
        .background {background-color: orange}
    </style>
</head>
<body>
    <div class="background">

        <div class="text-center">
            <h1><span class="fa fa-user-o"></span>Authentication System</h1>

            <p>Login, Sign Up, or Register with facebook, twitter or google:</p>

            <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Account Login</a>
            <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Account Signup</a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Sign in with Facebook</a>
            <a href="/auth/twitter" class="btn btn-primary"><span class="fa fa-twitter"></span> Sign in with Twitter</a>
            <a href="/auth/google" class="btn btn-primary"><span class="fa fa-google-plus"></span> Sign in with Google</a>
        </div>

    </div>
</body>
</html>
